<h3>Repeat</h3>

<p>Allows the animation to repeat a set number of times</p>

<h4>Tween</h4>

<iframe height='265' scrolling='no' title='TweenLite - repeat' src='//codepen.io/jjheinrichs/embed/RLVMwb/?height=265&theme-id=0&default-tab=js,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/jjheinrichs/pen/RLVMwb/'>TweenLite - repeat</a> by Jeff Heinrichs (<a href='https://codepen.io/jjheinrichs'>@jjheinrichs</a>) on <a href='https://codepen.io'>CodePen</a>.
</iframe>

<h4>Timeline</h4>

<iframe height='265' scrolling='no' title='TimelineLite - repeat' src='//codepen.io/jjheinrichs/embed/VMbXYJ/?height=265&theme-id=0&default-tab=js,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/jjheinrichs/pen/VMbXYJ/'>TimelineLite - repeat</a> by Jeff Heinrichs (<a href='https://codepen.io/jjheinrichs'>@jjheinrichs</a>) on <a href='https://codepen.io'>CodePen</a>.
</iframe>

<p><a routerLink="/max/stagger" routerLinkActive="active" class="btn btn-primary">Stagger <span class="sr-only">(current)</span></a></p>
