<h2>GSAP (GreenSock Animation Platform)</h2>

<h3>Why GSAP?</h3>

<p>Plenty of alternatives: CSS, jQuery, Velocity.js...</p>

<ul>
    <li>Longevity: started as a flash library</li>
    <li>Documentation</li>
    <li>Actively Maintained</li>
    <li>Fast</li>
    <li>No Dependancies</li>
    <li>Fairly lightweight at 114kb for everything</li>
</ul>

<h3>What is GSAP?</h3>

<p>Animation Platform: allows you to animate pretty much anything. Allows you to control several animations at the same time, and has a number of handy extensions.</p>

<p>The main components are <b>Tween</b> and <b>Timeline</b>. Lite and Max vareties of each.</p>