<div class="container">
  <h2>Overview</h2>

  <pre>
00 - 05		Web Animation Recap
05 - 10		Intro to GreenSock Animation Platform
10 - 15		Intro to TweenLite
15 - 25		TweenLite Lab
25 - 30		Intro to TimelineLite
30 - 40		TweenLite Lab
40 - 45		Intro to *Max
45 - 55		*Max Lab    
  </pre>

  <h3>Why Web Animation?</h3>

  <h4>Animation Orients the User and Gives Context</h4>
  
  <p>Creates spatial relationships between elements on a page and reduces cognitive load.</p>
    
  <h4>Animation Directs Focus and Draws Attention</h4>
  
  <p>Animated items draw focus and empasis importance and can direct eye flow.</p>

  <h4>Animation Shows Cause and Effect</h4>
  
  <p>Affordances suggest functionality, preview actions, and help correct mistakes.</p>
      
  <h4>Animation Provides Feedback</h4>
  
  <p>Errors can stand out more, as can success. Progress can be demonstrated as well.</p>
      
  <h4>Animation to Demonstrate</h4>
  
  <p>You can show how something works with immediate understanding.</p>
</div>