<h3>Tween Properties</h3>

<h4>Delay</h4>

<p>Adds an initial delay to the animation.</p>

<iframe height='265' scrolling='no' title='TweenLite - property: delay' src='//codepen.io/jjheinrichs/embed/JrNOLg/?height=265&theme-id=0&default-tab=js,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/jjheinrichs/pen/JrNOLg/'>TweenLite - property: delay</a> by Jeff Heinrichs (<a href='https://codepen.io/jjheinrichs'>@jjheinrichs</a>) on <a href='https://codepen.io'>CodePen</a>.
</iframe>

<h4>Paused</h4>

<p>Animation doesn't play on instantiation.</p>

<h4>Ease</h4>

<p>Set the easing for the animation.</p>

<iframe height='265' scrolling='no' title='TweenLite - property: ease' src='//codepen.io/jjheinrichs/embed/KXmyeR/?height=265&theme-id=0&default-tab=js,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/jjheinrichs/pen/KXmyeR/'>TweenLite - property: ease</a> by Jeff Heinrichs (<a href='https://codepen.io/jjheinrichs'>@jjheinrichs</a>) on <a href='https://codepen.io'>CodePen</a>.
</iframe>

<p><a href="https://greensock.com/docs/Easing">There are a lot of eases.</a></p>

<h4>Callbacks</h4>

<iframe height='265' scrolling='no' title='TweenLite - property: callbacks' src='//codepen.io/jjheinrichs/embed/LzyOgE/?height=265&theme-id=0&default-tab=js,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/jjheinrichs/pen/LzyOgE/'>TweenLite - property: callbacks</a> by Jeff Heinrichs (<a href='https://codepen.io/jjheinrichs'>@jjheinrichs</a>) on <a href='https://codepen.io'>CodePen</a>.
</iframe>

<a routerLink="/tween/lab" routerLinkActive="active" class="btn btn-primary">Lab <span class="sr-only">(current)</span></a>