<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <h1 class="h3">Web Animation: Part Deux</h1>
        </a>

        <div class="navbar-nav">
            <a routerLink="/green-sock-animation-platform" routerLinkActive="active" class="nav-item nav-link">GSAP <span class="sr-only">(current)</span></a>
            <a routerLink="/tween/basics" routerLinkActive="active" class="nav-item nav-link">Tween <span class="sr-only">(current)</span></a>
            <a routerLink="/timeline/basics" routerLinkActive="active" class="nav-item nav-link">Timeline <span class="sr-only">(current)</span></a>
            <a routerLink="/max/basics" routerLinkActive="active" class="nav-item nav-link">Max <span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>

<main class="container container-main">
    <router-outlet></router-outlet>
</main>