<h3>Yo-Yo</h3>

<p>Causes repeated alternate animations to reverse</p>

<iframe height='265' scrolling='no' title='TimelineLite - yo-yo' src='//codepen.io/jjheinrichs/embed/pWPLEp/?height=265&theme-id=0&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/jjheinrichs/pen/pWPLEp/'>TimelineLite - yo-yo</a> by Jeff Heinrichs (<a href='https://codepen.io/jjheinrichs'>@jjheinrichs</a>) on <a href='https://codepen.io'>CodePen</a>.
</iframe>

<p><a routerLink="/max/lab" routerLinkActive="active" class="btn btn-primary">Lab <span class="sr-only">(current)</span></a></p>
