<h3>Stagger</h3>

<p>Includes three methods, .staggerTo, .staggerFrom, and .staggerFromTo which work on both TweenMax and TimelineMax</p>

<iframe height='265' scrolling='no' title='TimelineLite - staggerTo' src='//codepen.io/jjheinrichs/embed/jGmYPe/?height=265&theme-id=0&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/jjheinrichs/pen/jGmYPe/'>TimelineLite - staggerTo</a> by Jeff Heinrichs (<a href='https://codepen.io/jjheinrichs'>@jjheinrichs</a>) on <a href='https://codepen.io'>CodePen</a>.
</iframe>

<p><a routerLink="/max/yo-yo" routerLinkActive="active" class="btn btn-primary">Yo-Yo <span class="sr-only">(current)</span></a></p>
