<h2>Plugins</h2>

<h3>Free</h3>

<h4>SplitText</h4>

<iframe height='265' scrolling='no' title='SplitText: Multiple Split Types' src='//codepen.io/GreenSock/embed/gFHza/?height=265&theme-id=0&default-tab=js,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/GreenSock/pen/gFHza/'>SplitText: Multiple Split Types</a> by GreenSock (<a href='https://codepen.io/GreenSock'>@GreenSock</a>) on <a href='https://codepen.io'>CodePen</a>.
</iframe>

<h3>Paid</h3>

<h4>MorphSVG</h4>

<iframe height='265' scrolling='no' title='MorphSVGPlugin from GreenSock' src='//codepen.io/GreenSock/embed/WQjRXE/?height=265&theme-id=0&default-tab=html,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/GreenSock/pen/WQjRXE/'>MorphSVGPlugin from GreenSock</a> by GreenSock (<a href='https://codepen.io/GreenSock'>@GreenSock</a>) on <a href='https://codepen.io'>CodePen</a>.
</iframe>

<h4>DrawSVG</h4>

<iframe height='265' scrolling='no' title='DrawSVGPlugin Animation' src='//codepen.io/GreenSock/embed/jEEoyw/?height=265&theme-id=0&default-tab=html,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/GreenSock/pen/jEEoyw/'>DrawSVGPlugin Animation</a> by GreenSock (<a href='https://codepen.io/GreenSock'>@GreenSock</a>) on <a href='https://codepen.io'>CodePen</a>.
</iframe>